@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
  
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      margin: 0;
      padding: 0;
  }
  @font-face {
    font-family: 'Miama';
    src: url('fonts/Miama.ttf') format('truetype');
}

header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 100) 400%);
  
  
}

/* Shared Styles */
.btn-primary{
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 8px;
  border: none;
  flex: 1;
  max-width: 150px;

  }
  .btn-secondary{
    border-radius: 46px;
    background-color:#111111;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 8px;
    border: 1px solid rgb(255, 255, 255);
    flex: 1;
    max-width: 150px;
   
    }

.gym-title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
 
 
    
}
.gym-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;

}
/* Navbar Related Styles */

.navbar{display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin:0 190px; */
  padding: 10px 20px;
}
.nav-title{
   color: rgb(230, 83, 60);
   font-size:2.25rem;
  font-weight: 800;
  
  

}
.nav-links{display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 1px;

  
  
}

.nav-links li{
  list-style: none;
  margin-right:45px;
  
 
}

.nav-links li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
  
  

}
.hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span{
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}
/* Banner Styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 198px;
}

.banner-content{
  max-width:520px;
  
}

.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  
}
.extra-style{
  font-family: 'Miama';
  font-weight: 300;
}
.banner-description{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}



.banner-image{
  width:350px;
  
}
.banner button{
  margin-right:0px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
 
 }
/* Main part styles */
main{
 background-color: black;
 max-width:1440px;
 margin: 0 auto;
}

.gym-image-container{
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

   
.gym-description{
 
}
.gym-card-container{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
  
}
.card{
 
  max-width: 200px;
  padding: 20px;
  text-align: center;

}
.card img{
  border-radius: 50%;
  max-width: 100%;
}
.card h4{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
 


}
.card p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;

}
/* Milage section */
.milage-container{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 gap: 20px;
 padding: 20px;
 border-radius: 8px;
}
.milage-content{
  flex: 1 1 50%;
  max-width: 600px;

}
.milage-title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
 margin-bottom: 10px;
}
.milage-description{
color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
margin-bottom: 20px;
}
.milage-img{
  flex: 1 1 40%;
  max-width: 600px;
  text-align: center;
 
 }

 .milage-image img{
  width: 100%;
  height: auto;
  border-radius: 10px;
 }
/* Table and Form section  */
.bmi-calculator{
  max-width:1140px;
  margin: auto;
  padding: 20px;
  
 
}
.calc-title{
color: rgb(255, 255, 255);
font-size:2rem;
font-weight: 800;
margin-bottom: 10px;



}
.calc-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
 margin-bottom: 20px;
}

.bmi-container{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgb(34, 34, 34);
  gap:20px;
 

  
 
}
.bmi-chart, .bmi-form{
    
     flex:1;
 
}
.bmi-chart table{max-width:300px;
                  border-collapse: collapse;
 
}
.bmi-chart th, td{
  padding: 5px;
  text-align: left;
  border: 1px solid rgba(189, 182, 182, 0.6);

}
.bmi-form form{
display: flex;
flex-direction: column;
width: 50%;
}
.bmi-form input, select{
   padding: 5px;
   margin-bottom: 5px;
   border-radius: 5px;
   font-size: 0.8rem;
   font-weight: 400;
   background-color: rgba(61, 58, 58, 0.5);
   color: rgba(189, 182, 182, 0.6);
  
   

 
 
}
.bmi-chart table th, td{
  color: rgba(189, 182, 182, 0.6);
}




/* Our team section starts */

.our-team-section{
 /* width: 100%; */
 max-width: 1140px;
 margin: 0px auto;
 padding: 50px;
 }
.our-team-section h2{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.our-team-description{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  text-align: center;
}
.team-image-container{

 display:grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 border-radius: 8px;
 background-color:  rgba(255, 255, 255, 0.1);
}
.image-card{
  position: relative;
 
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
}
.image-card img{
 
  width: 100%;
  height: 200px;
  border-radius:10px;

 

}
.overlay-text{
  position: absolute;
  bottom:10px;
  margin: 0;
  width: 100%;
  color: white;
  padding: 5px;
  text-align: left;
}
.overlay-text h4{
  font-size: 1.3rem;
  color: white;
  
  margin: 0;
}
.overlay-text p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

/* Footer Desing starts */

footer{
  padding: 20px;
  background-color:rgba(34,34,34);

}
.footer-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 
}
.footer-content, .footer-links{
  flex: 1;
  min-width: 200px;
  margin: 10px;
}
.footer-content h2{
  color: rgb(230, 83, 60);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom:1.2rem;
 

}
.footer-links h3{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom:1.2rem;

}
.footer-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-top: 0.625rem;
  justify-content: space-between;
}

.footer-links h3{color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
 
}


.footer-links ul li{
  list-style-type: none;
  padding: 0;
}
.footer-links li{
  margin-bottom: 5px;
}
.footer-links ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size:1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-rights{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;}

  hr{
    margin: 20px 0;
  }
.hide{
  display: none;
}

/* Responsiveness starts from here */

@media screen and (max-width:576px) {
  .nav-links{display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
   
   
  }
  .nav-links.active{
   display: flex;
  }
 
  .hamburger{
    display: flex;
  }
       .button-container{
        flex-direction: row;
       }
   
     .banner{
      flex-direction: column;
     }
  .gym-card-container{
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  .gym-title{
   font-size: 2rem;
  }
  .card{width: 100%;
    max-width: 300px;
   
  }
  .milage-container{
    flex-direction: column;
   
  }
  .milage-title{
   font-size:2rem;
  }
  .milage-description{
    font-size: 16px;
  }
  .btn-primary{
    width: 100%;
    padding: 10px;
  }
  .bmi-container{
    flex-direction: column;
  }
  .bmi-chart, .bmi-form{
    flex:1 1 100%;
  }
  .bmi-form input, select{
   
   
    
  }
  .calc-title, .calc-description{
    text-align: left;
    /* padding-left: 5px; */
  }
  .team-image-container{
    grid-template-columns:1fr;
   
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
  }
  .footer-content, .footer-links{
    margin: 10px 0;
    text-align: left;
  }
  
  .footer-links h3{
    margin-top: 20px;
  }
  .footer-rights{
    font-size: 1rem;
  }
}