@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
  
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      margin: 0;
      padding: 0;
  }
  @font-face {
    font-family: 'Miama';
    src: url('fonts/Miama.ttf') format('truetype');
}

header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 100) 400%);
  
  
}

/* Shared Styles */
.btn-primary{
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  }
  .btn-secondary{
    border-radius: 46px;
    background-color:#111111;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid rgb(255, 255, 255);
    }

.gym-title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
 
 
    
}
.gym-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;

}
/* Navbar Related Styles */

nav{display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 190px;
}
.nav-title{
   color: rgb(230, 83, 60);
   font-size:2.25rem;
  font-weight: 800;
  
  

}
nav ul{display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 1px;

  
  
}

nav ul li{
  list-style: none;
  margin-right:45px;
  
 
}

nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
  
  

}
/* Banner Styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 198px;
}

.banner-content{
  max-width:520px;
  
}

.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  
}
.extra-style{
  font-family: 'Miama';
  font-weight: 300;
}
.banner-description{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}



.banner-image{
  width:350px;
  
}
.banner button{
  margin-right: 10px;
}
/* Main part styles */
main{
 background-color: black;
 max-width: 1440px;
 margin: 0 auto;
}

.gym-image-container{
  /* background-color: black; */
  padding: 20px;
  }
.gym-title{ margin: 0 95px 15px 95px;
    
   }
   
.gym-description{
  margin: 0 188px 58px 188px;
}
.gym-card-container{
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 40px;
  /* padding: 20px; */
  margin: 0px auto;
  box-sizing: border-box;
}
.card{
 
  max-width: 300px;
  padding: 20px;
  text-align: center;

}
.card img{
  border-radius: 100%;
}
.card h4{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin: 8px 0;


}
.card p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin: 8px 0;

}
/* Milage section */
.milage-container{
  width:1140px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 20px;
  margin: 0 auto;
 
}
.milage-content{
  padding: 40px 54px;
  text-align: left;
}
.milage-title{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.milage-description{
color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
margin-bottom: 34px;
}
.milage-img{
  padding: 30px 32px;
  border-radius: 18px;
 
 

}
/* Table and Form section  */
.bmi-calculator{
  max-width:1440px;
  
 
}
.calc-title{
color: rgb(255, 255, 255);
font-size:2rem;
font-weight: 800;
margin-bottom: 20px;
text-align: center;


}
.calc-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.bmi-container{
 
  display: flex;
  justify-content: space-between;
  background: rgb(34, 34, 34);
  /* align-items: center; */
  padding: 10px 20px;
  gap:20px;
 

  
 
}
.bmi-chart, .bmi-form{
     padding: 40px;
     flex: 1;
 
}
.bmi-chart{
 
}
.bmi-form{
text-align: left;
flex-wrap: wrap;
}
.bmi-chart h5{
  
  
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  margin: 30px 50px 30px 50px;
}


.bmi-form h5{
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  
}
.bmi-form p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
table, td,th{
  border: 1px solid rgba(255, 255, 255, 0.1);
}
table{
  
  border-collapse: collapse;
  margin: 30px 50px 50px 50px;
}
th{
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
td{
color: rgba(255, 255, 255, 0.5);
padding: 5px;
font-size: 14px;
font-weight: 400;
line-height: 120%;
text-align: left;
}
.bmi-form input, .bmi-form select{
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 8px;
  background-color:  rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
}
#sex{
  width: 33%;
}
#factor{
  width: 68%;
}

/* Our team section starts */

.our-team-section{
 /* width: 100%; */
 max-width: 1140px;
 margin: 0px auto;
 padding: 50px;
 }
.our-team-section h2{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.our-team-description{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  text-align: center;
}
.team-image-container{

 display:grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 border-radius: 8px;
 background-color:  rgba(255, 255, 255, 0.1);
}
.image-card{
  position: relative;
 
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
}
.image-card img{
 
  width: 100%;
  height: 200px;
  border-radius:10px;

 

}
.overlay-text{
  position: absolute;
  bottom:10px;
  margin: 0;
  width: 100%;
  color: white;
  padding: 5px;
  text-align: left;
}
.overlay-text h4{
  font-size: 1.3rem;
  color: white;
  
  margin: 0;
}
.overlay-text p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

/* Footer Desing starts */

footer{
  max-width: 1440px;
 background-color:rgba(34,34,34);

}
.footer-container{
  max-width: 1140px;
 margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 370px 370px;
  padding: 50px;
 
}
.footer-content h2{color: rgb(230, 83, 60);
  
  font-size: 3rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
 

}
.footer-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-top: 10px;
  justify-content: space-between;
}
.footer-links{
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 200px;

}
.footer-links h3{color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;

}
.footer-links ul li{
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-links ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);

font-size:1rem;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
hr{
 border: none;
 border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.footer-rights{
  color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
padding: 20px;}